<h1>Here are your PSAs</h1>

<ul>
  {{#each model as |announcement|}}
    {{announcement-tile announcement=announcement}}
  {{/each}}
</ul>

{{new-announcement save5="save6"}}

{{#link-to 'index'}}Home{{/link-to}}
